@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: "Cabin", "Times New Roman", sans-serif;
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-card: var(--card);
	--color-border: var(--border);
	--color-hover: var(--hover);
	--color-success: var(--success);
	--color-warning: var(--warning);
	--color-error: var(--error);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #c0dfd9;
		--foreground: #0a0a0a;
		--primary: #06c7baff;
		--secondary: #f9e0c1;
		--text-primary: #4a4a4a;
		--text-secondary: #888888;
		--card: #ffffff;
		--border: #eaeaea;
		--hover: #d1d1d1;
		--success: #34c759;
		--warning: #ffc107;
		--error: #e53e3e;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans)
}
